{% extends "base.html" %}

{% block content %}
<br><br><br>
{% if not request.user.is_authenticated  %}
    <div style="margin-top:30px">
        <form method="POST">
            {% csrf_token %}
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <div>
                <label for="username">UserName: </label>
                <input type="text" name="username" placeholder="username">
            </div><br>
            <div>
                <label for="password">Password: </label>
                <input type="password" name="password" placeholder="password">
            </div><br>
            <button type="submit">Login</button>
        </form>
        <p>Need an account? Please <a href="/register">Register</a></p>
    </div>

{% else %}
    <p>
        You Have already logged in. would you like <a href="/logout/">Logout</a>
    </p>
{% endif %}

{% endblock %}