{% extends "base.html" %}

{% block content %}
<br><br><br>
{% if not created %}
    <form action='.' method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title"><br><br>
        <textarea name="content" placeholder="Content"></textarea><br>
        <button type="submit">Create Article</button>
    </form>

{% else %}
    <p>Article was Created...</p>
    <a href="/articles/{{object.id}}">{{ object.title }} - {{ object.content }}</a>
{% endif %}

{% endblock %}